
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap.min.css';
@import 'shards.css';
@import 'shards-extras.css';
@import 'bootstrap-rtl.min.css';
@import "global-style.css";
@import "bootstrap-select.min.css";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@for $size from 1 to 9 {
  .font-size-#{$size} {
    font-size: $size * 3px
  }
}

a {
  color: #455A64;
}

.cat-sidebar-btn {
    padding: 5px 15px;
    border-radius: 4px;
    transition: all .3s;
    &:hover {
        background: rgba(40, 38, 46, 0.34);
        cursor: pointer;
    }
}

.cat-sidebar {
    width: 250px;
    top:0;
    right: -250px;
    opacity:0;
    height: 100%;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-box-shadow: -1px 2px 32px -8px rgba(23,23,23,1);
    -moz-box-shadow: -1px 2px 32px -8px rgba(23,23,23,1);
    box-shadow: -1px 2px 32px -8px rgba(23,23,23,1);
    z-index: 100000;
    position: fixed;
    display: none;
    div.cat-list {
        padding:0 20px;
        margin-top: 15px;
        width: 100%;
        div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: start;
            a {
                margin: 5px 0;
                padding: 10px 20px;
                background: rgba(10, 12, 13, 0.45);
                border-radius: 4px;
                color: white;
                text-decoration: none;
                transition: all .3s;
                &:hover {
                    background: rgba(10, 12, 13, 0.75);
                }
            }
        }
    }

}

.searchbox {
    position: relative;
    .searchbox-container {
        display: none;
        position: absolute;
        background: white;
        width: 100%;
        top: 100%;
        z-index: 10;
        padding: 20px;
        border:1px solid #f2f2f2;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        -webkit-box-shadow: 0px 9px 35px -16px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 9px 35px -16px rgba(0,0,0,0.75);
        box-shadow: 0px 9px 35px -16px rgba(0,0,0,0.75);
        a  {
            text-decoration: none;
            border-bottom: 2px solid #d8d8d8;
            width: 100%;
            display: flex;
            padding: 3px 0px;
        }

        a:hover {
            color: #1d1d1d !important;
        }
    }
}
